*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
   
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    
}
.topdiv
{
    width: 100%;
    height: 90vh;
    background-image:url(./6.jpg);
    background-size: cover;
}
.head{
     font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
    height: 120px;
    width: 300px;
    color: white;
    /* font-size: 15px; */
    border: 1px solid white;
    padding: 100px,200px;
    position: relative;
    left: 100px;
    top: 200px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 40px;
    box-sizing: border-box;
}
.rightside{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main1{
    width: 100%;
    height: 90vh;
   background-color: white;
    box-sizing: content-box;
}
.navbar1{
     width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    box-sizing: border-box;
}

button{
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 15px;

}
.content{
    width: 100%;
    height: 80vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./2.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card1{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./8.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card2{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./10.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card3{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./5.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card4{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./4.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card5{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./9.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card6{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./1.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card7{
     width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./3.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}