*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
   
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
    

.topdiv
{
    width: 100%;
    height: 90vh;
    background-image: url(./image-hero.jpg);
    background-size: cover;
}
.head{

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 /* font-family: "Dancing Script", cursive; */
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

    height: 120px;
    width: 300px;
    color: white;
    /* font-size: 15px; */
    border: 1px solid white;
    padding: 100px,200px;
    position: relative;
    left: 100px;
    top: 200px;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 40px;
    box-sizing: border-box;
}
.rightside{
    display: flex;
    align-items: center;
    gap: 30px;
}
.main1{
    width: 100%;
    height: 90vh;
   background-color: white;
    box-sizing: content-box;
}
.navbar1{
     width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(15, 14, 14);
    padding: 40px;
    box-sizing: border-box;
}

button{
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 15px;

}
.content{
    width: 100%;
    height: 80vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-deep-earth.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card1{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-night-arcade.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card2{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-soccer-team.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card3{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-grid.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card4{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-from-above.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card5{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-pocket-borealis.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card6{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-curiosity.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.card7{
     width: 300px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    margin: 20px;
    background-image: url(./image-fisheye.jpg);
    background-size: cover;
    color: white;
    align-items: flex-end;

}
.h{
   width: 50px;
  height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}

.h1{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h2{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h3{

    width: 40px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h4{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h5{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h6{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
     font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.h7{

    width: 100px;
    height: 60px;
    align-items: center;
    padding: 1.5px 1.5px 0px 30px ;
    @import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
    /* font-family: "Dancing Script", cursive; */
    font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}